<html>
<head>
  <title>KVM Stats</title>
  <style type="text/css">
    ul{ list-style-type:none; margin:0; padding:0;}
    li{ display:inline; }
    th{ font-size:12px;}
    td{ font-size:12px;}
    b{ font-size:12px;}
  </style>
</head>
<body>
<!-- Page Header: -->
<!-- Datestamp -->
<b>Colors Applied:</b> <%= Time.now.strftime("%Y-%m-%d %H:%M:%S %Z") %>
<span style="margin-left:5em;"><b>Pages:</b>&nbsp; <a href="som1_RAM.html">SOM1 Sorted by RAM Allocation</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="som1.html">SOM1 Sorted by CPU+RAM Allocation</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="index.html">ALL DC Hosts Sorted Alphabetically</a></span>
<!-- Legend for DC colors
<table cellpadding=0px border=0 align=center>
<tr>
  <th face='helvetica' size='6'>DC:</th>
  <td bgcolor=#DEBABA>SAD Seattle, WA</td>
  <td bgcolor=#75EFA5>Sommerset, NJ</td>
  <td bgcolor=#3374AA>Philidelphia, PA</td>
  <td bgcolor=#666633>QA Unknown</td>
  <td bgcolor=#777777>Other</td>
</tr>
-->
</table>
<!-- Allocation Color Legend
<table cellpadding=0px border=0 align=center>
  <tr>
    <th face='helvetica' size='6'>Allocation:</th>
    <td bgcolor=#00BF44>&lt;30%</td>
    <td bgcolor=#99cc00>&gt;30%</td>
    <td bgcolor=#ffff00>&gt;50%</td>
    <td bgcolor=#ff6600>&gt;70%</td>
    <td bgcolor=#ff3366>&gt;80%</td>
    <td bgcolor=#FF1144>&gt;99%</td>
    <td bgcolor=#8E4444>&gt;150%</td>
  </tr>
</table>
-->
<!-- <td bgcolor=#8E4444>&gt;150% <b>cores</b></td> -->
<!-- <td bgcolor=#8E4444>&gt;150% <b>RAM</b></td> -->

<h2 align="center"> Click KVM Host Name for VM list</h2>
<!-- End Page Header -->
<!-- Table of Resources by KVM -->
<table align="center" border="1">
  <thead>
  <tr>
    <th>Host name</th>
    <th>OS</th>
    <th>Use</th>
    <th>Core Allocation</th>
    <th>Memory Allocation</th>
  </tr>
  </thead>
  <tbody>
  <% @kvmhosts.sort{|a,b| a[0].split(pattern='.').reverse.join(sep='.') <=> b[0].split(pattern='.').reverse.join(sep='.')}.each do |k,v| %>
      <tr> <td align="center"><a name='<%= k %>-top'><a href='#<%= k %>'><%= k %></a></a></td>
        <td align=center bgcolor=#<%= v.platform_color %> >  <%= v.platform + " " + v.platform_version %></td>
        <td align=center bgcolor=#<%= v.use_color %>><%= v.use %></td>
        <td align=center bgcolor=#<%= v.cpu_color %>><%= v.cpu_percentage %>% (<%= v.guest_cpu_total %> Used / <%= v.cpu_total %> Total)</td>
        <td align=center bgcolor=#<%= v.mem_color %>><%= v.mem_percentage %>% (<%= v.guest_maxmem_total %>GB Used / <%= v.memory %>GB Total)</td>
      </tr>
  <% end %>
  </tbody>
</table>
<!-- End of Resorces by KVM table -->
<!-- Iterate Guests Lists by KVM Host -->
<% @kvmguests.sort.each do |k,v| %>
    <table border="1">
      <thead>
      <a name=<%= k %>>
        <tr><th>KVM Host</th><th>DC</th><th>Location</th><th>VMs</th>
      </a></tr>
      </thead>
      <tbody>
      <tr><th><a href='#<%= k %>-top'><%= k %></a></th>
        <!-- <td><% dc=/sad|som|phl/i.match(k).to_s %><%= dc %></td> -->
        <%=
          dc=/sad|som|phl/i.match(k).to_s
          color = case dc
                    when "sad" then "DEBABA"
                    when "som" then "75EFA5"
                    when "phl" then "3374AA"
                    else "666633"
                  end
          city = case dc
                   when "sad" then "Seatte, WA"
                   when "som" then "Somerset, NJ"
                   when "phl" then "Philadelphia, PA"
                   else "Other City"
                 end
          "<td bgcolor=#" + color + ">" + dc
        %>
        </td>
        <td><%= city %></td>
        <td><b><%= v.length %></b></td>
      </tr>
      </tbody>
    </table>
    <table border="1">
      <tr><th>#</th><th>VM name</th><th>State</th><th>CPUs</th><th>RAM</th></tr>
      <% x = 0 %>
      <% v.keys.each do |y| %>
          <% x += 1 %>
          <tr><td><%= x %>.</td><td> <%= y %></td><td> <%= v[y]['state'] %></td><td> <%= v[y]['CPU(s)'] %></td><td> <%= v[y]['Max memory'] %></td></tr>
      <% end %>
      <!-- <tr><td>VMs:</td><td> <%= x %></td></tr> -->
    </table>
<% end %>
<!-- End of Iteration of Guests by KVM Host -->
<table border=1>
  <thead><H2>Infra owned hosts</H2></thead>
  <tbody>
  <% @infrahosts.keys.sort.each do |k| %>
      <tr><td><%= k %></tr></td>
  <% end %>
  </tbody>
</table>
</body>
</html>